<a href="https://colab.research.google.com/github/escandethomas/Python_classes/blob/main/1-foundations/1-types-and-syntax/foundations-s1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DEC Foundations to Python - Session 1
# Variable types and Python syntax

# S0.0 - Introduction


#### The Atoms of Python
In this session we will cover the basic building blocks that is what everything in Python is made of. **Think of these building blocks as the atoms of Python**. 

#### The Molecules of Python
These atoms are used to make more advanced variables called objects. **We can think of these objects as molecules**. With these atoms and molecules, we can make everything from databases, machine learning algorithms, natural language projects or whatever you will end up using Python for. 

This is the same way how atoms and molecules make up everything from stars, life forms, advanced chemical compounds etc. in the world around us. 

#### This session is about atoms
This session will focus on the atoms and how we write code to interact with them. We will also look at some simple molecules, but more on them and advanced life forms in later sessions.

---

## S1.1 - Google Colab

Click this link to open the file you are currently viewing in Google Colab: https://colab.research.google.com/github/worldbank/dec-python-course/blob/main/1-foundations/1-types-and-syntax/foundations-s1.ipynb.

This will open an exact copy of this file in Google Colab. Since it is a copy, you can make edits in it without it affecting anyone else file. Through this course we expect you to always open the file for each session in Colab and follow along.

### What is Colab?

* It's like Google Docs but for Python code
* Requires no installing of Python itself or common libraries (add-ons)
* Runs on a Google server. Any files you save in Colab are saved in your Google Drive - so a very bad place for sensitive data
* Unfortunately, you need to be logged in to a Google account to run code on Google Colab.

Most data science projects, use something called _Jupyter Notebooks_ that look and behave very similar to a notebook in Google Colab. But you can install _Jupyter Notebooks_ on your computer so no files, code or data, are saved on a Google server.

---

### How to run code in Colab

Jupyter Notebook and Colab is organized in cells. A cell can either be code or text. The only purpose of text cells is to provide information to a human reader. This information can be a few comments to the code, or a full research paper. You can format this text using [markdown](https://commonmark.org/help).

Code cells is where you write your Python code. Next to each code cell there is a play button. You can run the code by either click the 'play' icon or select the cell and hit `SHIFT-ENTER` on your keyboard. 

Try running the cell below that says `2 + 2`.

In [3]:
2 + 3

5

# S1.0 - Variables

Variables is how everything is stored in Python. 

All variables consist of three things:

* The name of the variable so it can be accessed
* Some information that the variable contains
* The "*type*" of the information stored

The information a variable points to can be 
a basic type (such as a single number) or 
a complex custom type (such as a dataset or a machine learning module).

Variables are only stored in temporary memory, 
so when restarting Python, 
you need to recreate them by running your code again.

(**For Stata users:** In Stata, 
"variable" always means a column in a dataset. 
Variables in Python behave more like a `local` in Stata.)

In [4]:
# Create variables with the name hw and number
hw = 'Hello World'
number = 42

In [5]:
# Access the variables with the name hw and number
# and then print the information they store
print(hw)
print(number)

Hello World
42

# S2.0 The basic data types

All data and information in Python 
is made up of a basic type or a combination of basic types.
There is no other way to store data in Python
other than these basic types.

Basic type variables can be combined into 
advanced data science structures stored in custom variables. 
No matter how advanced any custom variable 
you ever encounter in Python is, 
the fundamental building blocks of the information
it stores are always these basic data types.

This is similar to how tiny simple atoms in real life
can be combined to the most wonderful complex life forms.
This is why we will refer to 
**the basic data types as the _atoms of Python_.**

These four basic types are the types you are ever likely to use:

| Class name | Full name      | Name used       | Usage                        |
|:---        |:---            |:---             | :---                         |
| int        | Integer        | "int"/"integer" | Number without decimal point |
| float      | Floating point | "float"         | Number with decimal point    |
| str        | String         | "string"        | Text                         |
| bool       | Boolean        | "boolean"       | Either true or false         |

# S2.1 Numeric variables

**Define a numeric variable:**

In [7]:
# Assign the value 6 to a variable we name x
x = 6

Now somewhere in memory there is a variable with the name `x` that currently stores the value 6.

We can reference this variable until we explicitly delete it or restart our Python session.

In [8]:
# We can output the value by calling it 
x

6

**Ex. 1a:**

In [9]:
# Create a variable called ex1_x and set it to the value 5

### ADD YOUR CODE HERE
ex1_x = 5
# === Do not modify code below ===
assert ex1_x == 5

**Do math using a variable:**

In [10]:
# Take the value in x and output that value plus 1
x + 1

7

In [11]:
# The value of x is still 6
x

6

In [ ]:
# To update the variable x we need to overwrite it with a new value
# Assign x + 1 to x and output it
x = x + 1  # NOTE: this OVERWRITES the variable x
x

Note that we can only output a variable if it is by itself on the last line in a cell. We will soon learn how to _print_ a variable where this is not the case and where we have more options.

---
**Important error message: NameError**

Whenever you see an error where it says "not defined", as in `NameError: name 'z' is not defined`, then it means that you have tried to reference a variable `z` but that there is no variable with that name.

In [14]:
x = z + 4

NameError: ignored

**More math and using multiple variables:**

In [12]:
# Reset x to 6
x = 6

In [13]:
# Define a second variable - this time with a longer name
my_long_variable_name = 2

In [15]:
# Adding two variables together
x + my_long_variable_name

8

In [16]:
# Subtracting x from my_long_variable_name
x - my_long_variable_name

4

In [17]:
# Multiplying x with my_long_variable_name
x * my_long_variable_name

12

Here is a table of the most common mathematical operators:

| Symbol | Operation      | Example     |
|:---:   |:---            |:---         |
| +      | Addition       | 6+2 = 8   |
| -      | Subtraction    | 6-2 = 4   |
| *      | Multiplication | 6*2 = 12  |
| /      | Division       | 6/2 = 3   |
| **     | Power of       | 6**2 = 36 |
| %      | Modulus        | 6%2 = 0 , 6%4 = 2 |

See full lost of mathematical operators here: https://www.w3schools.com/python/python_operators.asp

---

If we want to save the result of a mathematical operation we need to store it in a variable. Either in a new variable or by overwriting an existing one.

Only variables left of the assignment operator `=` are modified. If there is no `=` then no variable is modified from a mathematical operator.

In [ ]:
# Create a new variable that is x multiplied by my_long_variable_name
y = x * my_long_variable_name

# Create a new variable that is the sum of x and my_long_variable_name
z = x + my_long_variable_name

If we want to print multiple variables in the same cell we need to use `print()`

In [ ]:
# Print the variables one at the time
print(x)
print(my_long_variable_name)
print(y)
print(z)

In [ ]:
# Print all variables at on the same line
print(x, my_long_variable_name, y, z)

In [ ]:
# You can also print the results of an operation
print(12 * 89)
print(y - 20)

In [ ]:
# You can combine printing and output
print(y - 20)
5 ** 3

Since incrementing a variable with a value, such as in `x = x + 1`, is such a common action, there is a short hand for it that is `x += 1`

In [ ]:
my_unnecessarily_long_variable_name = 5
my_unnecessarily_long_variable_name += 7
print(my_unnecessarily_long_variable_name)

**Ex. 2a**

In [23]:
# Create two variables ex2_x and ex2_y. Set ex2_x to 3 and ex2_y to 5.
ex2_x = 3
ex2_y = 5
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex2_x == 3 and ex2_y == 5

**Ex. 2b**

In [24]:
# Multiply ex2_x with ex2_y and save the result in a new variable ex2_z
ex2_z = ex2_x * ex2_y
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex2_z == 15

**Ex. 2c**

In [25]:
# Update the variable ex2_z by subtracting ex2_x from it
# (Hint: re-run the cells above if/when needed)
ex2_z = ex2_z - ex2_x
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex2_z == 12

## S2.2 Two basic types of numeric variables

There are two types of numeric basic data types:

| Class name | Full name      | Name used       | Usage                        |
|:---        |:---            |:---             | :---                         |
| int        | Integer        | "int"/"integer" | Number without decimal point |
| float      | Floating point | "float"         | Number with decimal point    |


`int` is more memory efficient but cannot store decimal points. 
Python will pick `int` for you 
unless your variable must be a `float` to store your data without information loss.

Read more about `int` and `float` here: https://www.w3schools.com/python/python_numbers.asp

---

You can test which type your numeric variable using `type()`

In [18]:
# Numeric variables assigned a number WITHOUT decimal point are created as an int
x = 3
print(type(x))
type(x)

<class 'int'>

int

In [19]:
# Numeric variables assigned a number WITH decimal points are created as a float
pi = 3.141592
print(type(pi))

<class 'float'>

In [20]:
# Python will automatically change the type if ever needed
diameter = 10
print(diameter, type(diameter))

#The result of division is always a float
radius = diameter / 2
print(radius, type(radius))

10 <class 'int'>
5.0 <class 'float'>

In [21]:
#The result of an operation with float and an int is always a float
radius = 5
circumference = pi * (radius)
print(radius, type(radius))
print(circumference, type(circumference))

5 <class 'int'>
15.70796 <class 'float'>

In [22]:
# you can force a float to be an int - it rounds down the closest int
# NOTE: This leads to information loss about the decimal points
y = int(7.25)
print(y, type(y))

7 <class 'int'>

**Ex. 3a**

In [26]:
# Create a variable ex3_x that is a 13 to the power of 12
ex3_x = 13 ** 12
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex3_x == 23298085122481

**Ex. 3b**

In [27]:
# Create a variable ex3_y that is 
# the remainder when dividing ex3_x with 17
ex3_y = ex3_x % 17
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex3_y == 1

**Ex. 3c**

In [28]:
# Create a variable ex3_z that is a float with the value three
# (The solution has not been mentioned explicitly)
ex3_z = 3.0
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert hash(ex3_z) == 3 and type(ex3_z) is float

# S3.0 Text variables - basic type: string

There is only one basic data type for text, and it is called "string".

| Class name | Full name      | Name used       | Usage                        |
|:---        |:---            |:---             | :---                         |
| str        | String         | "string"        | Text                         |

The text in a string could be anything from a single letter or word, to a full-length text like an essay. 

---

**Define a string variable**

In [ ]:
# Assign the text Hello World! to both variable a and b

# We can use either " or ' to tell where the text starts and ends so python does not confuse it for code
a = "Hello world!"
b = 'Hello world!'

print(a, type(a))
print(b, type(b))

We must use either `""` or `''` for each string, we cannot mix. It only rarely matters which one we use.

In [ ]:
# We can use either "" when the text includes one or several '
a = "Strings are Python's way to store text"

# We can use either '' when the text includes one or several "
b = 'Python is the "bestest" programming language'

print(a, type(a))
print(b, type(b))

**Simple string operations:**

Some math operators work on strings as well

In [ ]:
a = 'hello'
b = 'world'

# Addition and multiplication work on strings (but not subtraction and division)
c = a + ' ' + b + '!'
d = a * 3

print(c, type(c))
print(d, type(d))

In [ ]:
# Now when we know strings, we can add a string 
# to the print function to 
# keep track of what we are printing
print('Variable c:', c, type(c))
print('Variable d:', d, type(d))
c
d

**Ex. 4a**

In [38]:
# Create a variable ex4_x that is a string with the word World
# and a variable ex4_y that is a string with the word Bank

### ADD YOUR CODE HERE
ex4_x = "World"
ex4_y = "Bank"
# === Do not modify code below ===
assert ex4_x == 'World' and ex4_y == 'Bank'

**Ex. 4b**

In [39]:
# Create a variable ex4_z that use ex4_x and ex4_y 
# to create the word World Bank

### ADD YOUR CODE HERE
ex4_z = ex4_x + " " + ex4_y
# === Do not modify code below ===
assert ex4_z == 'World Bank'

**String methods:**

So far, we have only worked with the operators such as `+`, `-` etc. 

Strings has some actions specific to the `str` data type. Actions specific to a data type are called _methods_. 

Almost all Python custom variable types (molecules) have methods. But among the basic types (atoms), strings are the only one with methods.

You can read about all string methods here: https://www.w3schools.com/python/python_ref_string.asp

In [29]:
# Define a new string
a = 'Hello world!'
print(a, type(a))

Hello world! <class 'str'>

In [30]:
# Print the result of the method directly
print(a.upper())

HELLO WORLD!

In [31]:
# Store the results of upper() in new variable and then print
a_upper = a.upper()
print(a_upper,type(a_upper))

HELLO WORLD! <class 'str'>

In [32]:
# Store the results of lower() in new variable and then print
a_lower = a.lower()
print(a_lower,type(a_lower))

hello world! <class 'str'>

In [33]:
# Relace letters in a string
a_all_i = a.replace('o', 'i')
a_one_i = a.replace('o', 'i', 1)

print('a_all_i:',a_all_i,type(a_all_i))
print('a_one_i:',a_one_i,type(a_one_i))

a_all_i: Helli wirld! <class 'str'>
a_one_i: Helli world! <class 'str'>

It is common that we need to combine a string with the content of one or several variables to output a sentence. It is always possible to do so using string concatenation using `+`.

However, when generating a string that is a sentence where only a few words are dynamically populated using data in variables, using the method `.format()` is often simpler.

In [34]:
name = "Frodo Baggins"
age = 51

In [35]:
str_concat = "His name is " + name + " and his age is " + str(age) + "."
print(str_concat)

His name is Frodo Baggins and his age is 51.

In [36]:
str_format = "His name is {} and his age is {}.".format(name,age)
print(str_format)

His name is Frodo Baggins and his age is 51.

In [37]:
# The function len() can be used to get the length of a string
print(name)
print(len(name))

Frodo Baggins
13

**Important error message: AttributeError**

Whenever you see an error where it says "has no attribute", as in `AttributeError: 'int' object has no attribute 'upper'`, then it means that the type `int` does not have a method or attribute called `upper`. 

Attribute is something similar to a method but attributes only return some meta data about a variable, and is not able to change the data in the variable.

If you get an AttributeError, test if you have misspelled the method/attribute or if the variable is of a different type than you expected. Below we get this error as we are using a `str` method on an `int` type variable.

In [ ]:
x = 4
x = x.upper()

**Ex. 5a**

In [40]:
# Use a string method on the variable p already provided,
# to create a variable ex5_x with the string "PYTHON"

p = 'Python'
ex5_x = p.upper()
### ADD YOUR CODE HERE

# === Do not modify code below ===
assert ex5_x == 'PYTHON'

**Ex. 5b**

In [46]:
#To see all available functions on strings,
dir(str)
# How to find help menu
str.upper?

In [44]:
# Use a string method on ex5_x to create
# a variable ex5_y that is the string Python
# (The solution has not been mentioned explicitly)
# in this session. Hint: use the link above)



### ADD YOUR CODE HERE
ex5_y = ex5_x.lower().capitalize()
# === Do not modify code below ===
assert ex5_y == 'Python'

Object `upper` not found.

# S4.0 True/False variables - basic type: boolean

| Class name | Full name      | Name used       | Usage                        |
|:---        |:---            |:---             | :---                         |
| bool       | Boolean        | "boolean"       | Either true or false         |

Boolean is the last basic type we will cover. Session 2 will discuss common usages of them. This session only covers how to identify them as you will see them often in Python.

---

**String methods returning booleans:**

So far we have only used string methods that have returned new strings. `upper()`, `lower()`, `replace()` etc. Many methods returns booleans instead.

In [47]:
# Store the digit 3 as a string, and the word cat as a string
a = '3'
b = 'cat'

# Print the initial variables
print('Variable a:', a, type(a))
print('Variable b:', b, type(b))

Variable a: 3 <class 'str'>
Variable b: cat <class 'str'>

In [48]:
# Test if the string is a string of a number
a_bool = a.isnumeric()
b_bool = b.isnumeric()

# Print the strings and the result if it a string of a number
print('Variable a:', a, type(a), '- Is numeric:', a_bool, type(a_bool))
print('Variable b:', b, type(b), '- Is numeric:', b_bool, type(b_bool))

Variable a: 3 <class 'str'> - Is numeric: True <class 'bool'>
Variable b: cat <class 'str'> - Is numeric: False <class 'bool'>

**Functions returning booleans:**

What are functions? We have already used functions but we have not explained what they are. `print()` and `type()` are examples of functions.

Functions and methods are similar. The main difference is that a method is always specific to a type, while functions exist independently. 

For example, `.upper()` is specific to `str`, but we have used `print()` with `str`, `int`, `float` etc.

Read more about the built in functions in python here: https://www.w3schools.com/python/python_ref_functions.asp

In [ ]:
# Define a string and an int
a_str = 'three'
a_int = 3

# Print variables and the result the variable is an int or not
a_str_is_int = isinstance(a_str, int)
print('Variable a_str_is_int:', a_str_is_int, type(a_str_is_int))

print('a_str ({}) is an int: {}'.format(a_str,a_str_is_int))
print('a_int ({}) is an int: {}'.format(a_int,isinstance(a_int, int)))

**Defining your own booleans:**

You can define your own boolean in two ways:

* setting a variable to `True` or `False`
* setting a variable to the result of a logical expression.

In [ ]:
my_true_boolean = True
my_false_boolean = False

print('Variable my_true_boolean:', my_true_boolean, type(my_true_boolean))
print('Variable my_false_boolean:', my_false_boolean, type(my_false_boolean))

Logical expressions are a type of operators that evaluates to true or false. The logical operators are `and`, `or` and `not` operators.

* The operator `and` returns `True` if BOTH sides of the operator is `True`
* The operator `or` returns `True` if ANY sides of the operator is `True`
* The operator `not` returns `True` if what comes after the operator is `False`

In all cases when these operators do not return `True`, they always return `False`

In [ ]:
and_operator = my_true_boolean and my_false_boolean
or_operator = my_true_boolean or my_false_boolean
not_operator = not my_false_boolean

In [ ]:
print('Variable and_operator:', and_operator, type(and_operator))
print('Variable or_operator:', or_operator, type(or_operator))
print('Variable not_operator:', not_operator, type(not_operator))

Comparison operators are another type of operators that evaluate to true or false. More on these operators in session 2, but examples are `==`, `!=`, `>` or `<`.

* The operator `==` returns `True` if the value of both sides of the operator is the same
* The operator `!=` returns `True` if the value of both sides of the operator is _not_ the same
* The operator `>` returns `True` if the value to the left has a higher sort order
* The operator `<` returns `True` if the value to the left has a smaller sort order

In [ ]:
num_equal = 2 == 2
num_not_equal = 2 + 2 != 5
print('Variable num_equal:', num_equal, type(num_equal))
print('Variable num_not_equal:', num_not_equal, type(num_not_equal))

In [49]:
str_equal = "A" == "B"
str_not_equal = "IBRD" != "IFC"
print('Variable str_equal:', str_equal, type(str_equal))
print('Variable str_not_equal:', str_not_equal, type(str_not_equal))

Variable str_equal: False <class 'bool'>
Variable str_not_equal: True <class 'bool'>

In [50]:
num_compare = -3 < 2
str_compare = "meter" > "mile"
print('Variable num_compare:', num_compare, type(num_compare))
print('Variable str_compare:', str_compare, type(str_compare))

Variable num_compare: True <class 'bool'>
Variable str_compare: False <class 'bool'>

**Ex. 6a**

In [51]:
# Set ex6_x to True or False such that it is the same as variable a

t = True
f = False

a = t or f

 ### ADD YOUR CODE HERE
ex6_x = True
# === Do not modify code below ===
assert ex6_x == a

**Ex. 6b**

In [52]:
# Set ex6_y to True or False such that it is the same as variable b
# (Use the print function to print intermediate steps if needed)

t = True
f = False

b = t or f
b = b and f
b = b or f
b = b and t

 ### ADD YOUR CODE HERE
ex6_y = False
# === Do not modify code below ===
assert ex6_y == b

## Basic data types summary

* The only way to store data in Python
* Stored in a variable with a name and type
* Which operations (`+`, `-`, ect.) or methods (`.upper()`) you can use depends on the type

**Important errors**

| Error name         | Likely reason for the error | 
|:---                |:---                     |
| **NameError**      | You have a typo when referencing a variable or you try to reference a variable before it is created | 
| **AttributeError** | You have used a method or an attribute on a type where that method or attributed does not exist |

# S5.0 - Container types

So far we have only covered the atoms of Python.
We have not yet introduced how you 
combine the atoms into more useful molecules.

The basic data types `int`, `float`, `str` and `bool` can be combined in **the basic container types**.

| Class name | Full name  | Access                      | Occurrence  | Remarks |
|:---        |:---        | :---                        | :---        | :---
| list       | List       | Access items by order       | Common      | Since we access items by order, the order you add items to a list is important |
| dict       | Dictionary | Access items by key         | Common      | Since we access items by key names, the order is not important |
| tuple      | Tuple      | Access items by order       | Less common | Very similar to a list, but when created it cannot be modified |
| set        | Set        | Test if item already in set | Rare        | A container that cannot hold duplicates |

Containers can hold basic data types (atoms) variables
as well as other containers variables. 
You can mix data types and container types if neeed.
Complex variables in Python are created by 
nesting many layers of container variables.

`list`s and `dict`s - 
we will cover lists and dictionaries properly 
as you will create and use them a lot. 

`tuples`s and `set`s - 
Tuples are often returned from functions and methods
so we will cover how to use them. 
We will only briefly cover sets.

## S5.1 Container types - Lists

| Class name | Full name  | Access                      | Occurrence  | Remarks |
|:---        |:---        | :---                        | :---        | :---
| list       | List       | Access items by order       | Common      | Since we access items by order, the order you add items to a list is important |

We can add variables to a list 
at the time of creating the list 
or we can add variables later. 

We access an item in the list by its order.
For example, the 3rd item, 7th item etc. 

However, items are accessed by index, 
and in computer science index starts on 0 and not 1. 
So the item with index 1 is actually the second item in the list. 

---

**Create a list:**

In [53]:
# Create a list of ints
list_int = [0,1,2,3,4,5,6,7,8,9]
print(list_int)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# Create a list of strings
list_str = ['a','b','c']
print(list_str)

['a', 'b', 'c']

In [55]:
# Create a mixed list
list_mix = [42,'Arthur',False]
print(list_mix)

[42, 'Arthur', False]

In [56]:
# test the type of a list
print(type(list_mix))

<class 'list'>

**Access an item in a list**:

In [57]:
# Print list and print each item in the list
print('List list_mix:', list_mix, type(list_mix))
print('First item (index 0):', list_mix[0], type(list_mix[0]))
print('Second item (index 1):', list_mix[1], type(list_mix[1]))
print('Third item (index 2):', list_mix[2], type(list_mix[2]))

List list_mix: [42, 'Arthur', False] <class 'list'>
First item (index 0): 42 <class 'int'>
Second item (index 1): Arthur <class 'str'>
Third item (index 2): False <class 'bool'>

In [58]:
# Access item in list and store in variable
name = list_mix[1]
print('Variable name:', name, type(name))

Variable name: Arthur <class 'str'>

In [59]:
# Accessing items using the index does not modify the list
print('List list_mix:', list_mix, type(list_mix))

List list_mix: [42, 'Arthur', False] <class 'list'>

**Access multiple items in a list:**

In [60]:
# Re-create list of ints
list_int = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
# Get all items between the item with index 0 
# up until but not including the item with index 3
# 0  index < 3
print(list_int[0:3])

In [ ]:
# Index 0 is assumed if the fist number is omitted
# So 0:3 is the same as :3
print(list_int[:3])

In [ ]:
# 5  index < 7
print(list_int[5:7])

In [ ]:
# 8  index < infinity
# All remaining items are included if the second number is omitted
print(list_int[8:])

In [61]:
# (number of items - 3)  index < infinity
print(list_int[-3:])

[7, 8, 9]

In [62]:
# (number of items - 7)  index < (number of items - 2)
print(list_int[-7:-2])
# 3  index < 8
print(list_int[3:8])

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

**Important error message: IndexError**
    
Whenever you see an error where it says "index out of range", as in `IndexError: list index out of range`, then it means that you have tried to access an item in the list, using an index that is not used in the list.

In [63]:
# IndexError: list index out of range
print(list_int[10])

IndexError: ignored

**Ex. 7a**

In [64]:
# From the list digits, in one line of code,
# create the variable ex7_x with the list [0,1,2,3,4]

digits = [0,1,2,3,4,5,6,7,8,9] 

### ADD YOUR CODE HERE
ex7_x = digits[:5]
# === Do not modify code below ===
assert ex7_x == [0,1,2,3,4]

**Ex. 7b**

In [65]:
# From the list digits, in one line of code,
# create the variable ex7_y with the list [5,6,7,8]

digits = [0,1,2,3,4,5,6,7,8,9] 

### ADD YOUR CODE HERE
ex7_y = digits[5:9]
# === Do not modify code below ===
assert ex7_y == [5,6,7,8]

**Edit a list:**

So far, every time we have modified a variable we have used a `=`. For example `x = x + 1` or `name = list_mix[1]`. 

Lists have some _in-place_ operator methods, meaning methods that change modify the item itself.

You find a list of more list methods here: https://www.w3schools.com/python/python_ref_list.asp

In [66]:
# Create a list of strs
pets = ['cat','dog']
print('Variable pets:', pets, type(pets))

# Add one item to the list - .append() is an in-place operator
pets.append('gold fish')
print('Variable pets:', pets, type(pets))

# Note that we did not do: pets = pets.append('gold fish')

Variable pets: ['cat', 'dog'] <class 'list'>
Variable pets: ['cat', 'dog', 'gold fish'] <class 'list'>

In [67]:
# Add another item to the list using in-place .append() and the "=" assign operator
pets_append_return = pets.append('butterfly')
print('Variable pets:', pets, type(pets))
print('Variable pets_append_return:', pets_append_return, type(pets_append_return))

Variable pets: ['cat', 'dog', 'gold fish', 'butterfly'] <class 'list'>
Variable pets_append_return: None <class 'NoneType'>

In [68]:
# Re-create the list of pets
pets = ['cat', 'dog', 'gold fish', 'butterfly']

# Print item with index 3 in original list
print('Print pet at index 3:', pets[3], type(pets[3]))

# Add item at index 2
pets.insert(2,'parrot')

# Print item with index 3 again
print('Print pet at index 3:', pets[3], type(pets[3]))

#Print all pets
print('Variable pets:', pets, type(pets))

Print pet at index 3: butterfly <class 'str'>
Print pet at index 3: gold fish <class 'str'>
Variable pets: ['cat', 'dog', 'parrot', 'gold fish', 'butterfly'] <class 'list'>

In [69]:
# Modify item with index 1 
pets[1] = 'wolf'
print('Variable pets:', pets, type(pets))

Variable pets: ['cat', 'wolf', 'parrot', 'gold fish', 'butterfly'] <class 'list'>

In [70]:
# Erase item in list by index. Item returned
pet_pop = pets.pop(3)
# Erase item in list by value. None returned
# First item in list removed if no item specified
pet_remove = pets.remove("cat")

# Print results
print('Variable pet_pop:', pet_pop, type(pet_pop))
print('Variable pet_remove:', pet_remove, type(pet_remove))
print('Variable pets:', pets, type(pets))

Variable pet_pop: gold fish <class 'str'>
Variable pet_remove: None <class 'NoneType'>
Variable pets: ['wolf', 'parrot', 'butterfly'] <class 'list'>

**Work with lists:**

In [71]:
# Create two lists.
odds = [1,3,5,7,9]
evens = [0,2,4,6,8]

# Combine and sort them
all_nums = odds + evens
print('Variable all_nums:', all_nums, type(all_nums))

# Sort the list - note that .sort() is an in-place operator
all_nums.sort()
print('Variable all_nums:', all_nums, type(all_nums))

Variable all_nums: [1, 3, 5, 7, 9, 0, 2, 4, 6, 8] <class 'list'>
Variable all_nums: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [72]:
# Create a list of lists
l1 = ['a','b','c']
l2 = ['d','e','f']
l3 = ['g','h','i']

# Create the list of list
nested_list = [l1,l2,l3]
print('Variable nested_list:', nested_list, type(nested_list))

Variable nested_list: [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']] <class 'list'>

In [73]:
# Access item in nested lists "f"
f = nested_list[2][0]
print('Variable f:', f, type(f))

# Access item in nested lists "f"
nested_lvl1 = nested_list[2]
nested_f    = nested_lvl1[0]
print('Variable nested_f:', nested_f, type(nested_f))

Variable f: g <class 'str'>
Variable nested_f: g <class 'str'>

In [74]:
# Start with an empty list
sample_means = []

# Add items to the list
sample_means.append(23.45)
sample_means.append(45.1)
sample_means.append(28.62)

print('Variable sample_means:', sample_means, type(sample_means))

Variable sample_means: [23.45, 45.1, 28.62] <class 'list'>

In [75]:
# Create a list by repeating another list
list_a = ['a'] 
list_a5 = list_a * 5
list_abc3 = ['a','b','c'] * 3

print('Variable list_a:', list_a, type(list_a))
print('Variable list_a5:', list_a5, type(list_a5))
print('Variable list_abc3:', list_abc3, type(list_abc3))

Variable list_a: ['a'] <class 'list'>
Variable list_a5: ['a', 'a', 'a', 'a', 'a'] <class 'list'>
Variable list_abc3: ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c'] <class 'list'>

**Get info about a list:**

We can use the same function `len()` we used for strings

In [ ]:
print('Number of items in list_a:', len(list_a))
print('Number of items in list_a5:', len(list_a5))

In [76]:
# We can store the length of a list in a variable if needed
len_list_abc3 = len(list_abc3)
print('Number of items in list_abc3:', len_list_abc3, type(len_list_abc3))

Number of items in list_abc3: 9 <class 'int'>

Test if an item is or isn't in a list

In [77]:
list_abc = ['a','b','c']

a_in_list_abc = 'a' in list_abc
d_not_in_list_abc = 'd' not in list_abc

print('Variable list_abc:', list_abc, type(list_abc))
print('Variable a_in_list_abc:', a_in_list_abc, type(a_in_list_abc))
print('Variable d_not_in_list_abc:', d_not_in_list_abc, type(d_not_in_list_abc))

Variable list_abc: ['a', 'b', 'c'] <class 'list'>
Variable a_in_list_abc: True <class 'bool'>
Variable d_not_in_list_abc: True <class 'bool'>

**Ex. 8a**

In [78]:
# From the list digits, in one line of code,
# create the variable ex8_x with the int 6

digits = [[0,1,2],[3,4,5],6,[7,8,9]]

### ADD YOUR CODE HERE
ex8_x = digits[2]
# === Do not modify code below ===
assert ex8_x == 6

**Ex. 8b**

In [79]:
# From the list digits, in one line of code,
# create the variable ex8_y with the int 4 

digits = [[0,1,2],[3,4,5],6,[7,8,9]]

### ADD YOUR CODE HERE
ex8_y = digits[1][1]
# === Do not modify code below ===
assert ex8_y == 4

**Ex. 8c**

In [82]:
# Using only the lists in the variables a, b and c and list methods
# create a list [1,2,3,4] and store it in the variable ex8_z. 
# You may not define any new ints or lists

a = 4
b = [2,3]
c = [1]

### ADD YOUR CODE HERE
ex8_z =  c + b
ex8_z.append(a)
print(ex8_z)
# === Do not modify code below ===
assert ex8_z == [1,2,3,4]

[1, 2, 3, 4]

**Ex. 8d**

In [83]:
# Using only the lists in the variables a, b and c and list methods
# create a list [1,2,3] and store it in the variable ex8_k.
# You may not define any new ints or lists

a = 2
b = [1,4,3]
c = 1

### ADD YOUR CODE HERE
ex8_k = b 
ex8_k.pop(1)
ex8_k.insert(1,a)
# === Do not modify code below ===
assert ex8_k == [1,2,3]

**Ex. 8e**

In [84]:
# Using only the lists in the variables a, b and c and list methods
# create a list [1,2,3] and store it in the variable ex8_i.
# You may not define any new ints or lists

a = 3
b = [1,4,2]
c = 1

### ADD YOUR CODE HERE
ex8_i = b 
ex8_i.pop(1)
ex8_i.insert(2,a)
# === Do not modify code below ===
assert ex8_i == [1,2,3]

## S5.2 Container types - Dictionaries

| Class name | Full name  | Access                      | Occurrence  | Remarks |
|:---        |:---        | :---                        | :---        | :---
| dict       | Dictionary | Access items by key         | Common      | Since we access items by key names, the order is not important |

Each item in a dictionary consists of two things. The item itself and a key used to refer to it. 

The item can be of any type (anything from atoms to advanced molecules) but the key is always a string.

---

**Create dictionaries and access items:**

In [ ]:
# Create a dictionary
x = {'a':'alpha','b':3,'c':True,'d':[1,2,3]}
print('Variable x:', x, type(x))

In [ ]:
# Access item in a dict using the key
print("Variable x['a']:", x['a'], type(x['a']))
print("Variable x['b']:", x['b'], type(x['b']))
print("Variable x['c']:", x['c'], type(x['c']))
print("Variable x['d']:", x['d'], type(x['d']))

In [85]:
# Lets say we are a bank keeping track of info about accounts

# Start with an empty dict
accounta = {}
accountb = {}

# Set up account A details
accounta['owner'] = 'Jerry Ehman'
accounta['id'] = '6EQUJ5'

# Set up account B details in different order
accountb['id'] = 'GTCTAT'
accountb['owner'] = 'Rosalind Franklin'

print('Variable accounta:', accounta, type(accounta))
print('Variable accountb:', accountb, type(accountb))

Variable accounta: {'owner': 'Jerry Ehman', 'id': '6EQUJ5'} <class 'dict'>
Variable accountb: {'id': 'GTCTAT', 'owner': 'Rosalind Franklin'} <class 'dict'>

In [86]:
# The same value can be accessed with the same key regardless of the order the values were added
print('Owner account A:', accounta['owner'], type(accounta['owner']))
print('Owner account B:', accountb['owner'], type(accountb['owner']))

Owner account A: Jerry Ehman <class 'str'>
Owner account B: Rosalind Franklin <class 'str'>

In [87]:
# Deposit initial amount on account A
accounta['balance'] = 1420
print('Balance account A:', accounta['balance'], type(accounta['balance']))

Balance account A: 1420 <class 'int'>

**Important error message: KeyError**
    
Whenever you see an error on the format
`KeyError: 'balance'`, 
then it means that you have tried to access an item in the list, using a key that is not used in the dictionary.

In [88]:
print('Balance account B:', accountb['balance'], type(accountb['balance']))

KeyError: ignored

In [89]:
# When applicable, use get() method to set a default value if key does not exist
print('Balance account A:', accounta.get('balance',0))
print('Balance account B:', accountb.get('balance',0))

Balance account A: 1420
Balance account B: 0

In [90]:
# When using .get() on a key that does not exist without default value
print('Balance account B:', accountb.get('color'), type(accountb.get('color')))

Balance account B: None <class 'NoneType'>

**Ex. 9a**

In [91]:
# Using only the already defined variables,
# (you may not type any keys manually)
# modify the empty dict ex8_z into
# {'pet1':'Dog','pet2':'Cat'}
# You may not overwrite ex8_z

p1 = 'pet1'
p2 = 'pet2'
Arthur = 'Cat'
b = "Dog"
c = Arthur
ex8_z = {}

### ADD YOUR CODE HERE
ex8_z[p1] = b
ex8_z[p2] = Arthur
# === Do not modify code below ===
assert ex8_z == {'pet1':'Dog','pet2':'Cat'}

**Ex. 9b**

In [102]:
# Using only the complex_dict and 
# accessing items using only keys and indexes,
# create the following variables zero as the int 0,
# d as the string d, minus_three as the int -3
# and symbol_list as the list ['%','?','~']
# Try create each of these variables in a single line of code


complex_dict = {
    'alpha': [
        'a','b','c','d'
    ],
    'numbers': [
        [1,2,3],
        0,
        [-1,-2,-3]
    ],
    'symbols' : {
        'percent' : '%',
        'question' : '?',
        'tilde' : '~'
    }
}

zero = complex_dict['numbers'][1]  ### ADD YOUR CODE HERE
print(zero)
d = complex_dict['alpha'][3] ### ADD YOUR CODE HERE
print(d)
minus_three = complex_dict['numbers'][2][2] ### ADD YOUR CODE HERE
print(minus_three)
symbol_list = [complex_dict['symbols']['percent'],complex_dict['symbols']['question'],complex_dict['symbols']['tilde']] ### ADD YOUR CODE HERE
print(symbol_list)

# === Do not modify code below ===
assert zero==0 and d=='d' and minus_three==-3 and symbol_list==['%','?','~']

0
d
-3
['%', '?', '~']

## S5.3 Container types - Tuples

| Class name | Full name | Access                | Occurrence  | Remarks |
|:---        |:---       | :---                  | :---        | :---
| tuple      | Tuple     | Access items by order | Less common | Very similar to a list, but when created it cannot be modified |

At a first glance tuples are very similar to lists. Items in tuples are also accessed using indexes.

The main difference is that tuples are immutable, which means you cannot edit them once they are created.

In data work we usually want to be able to edit our data, so you will not create them often. But it is common that methods and functions return tuples.

--- 

**Create a tuple:**

In [94]:
list_mix  = [42,'Arthur',False]
tuple_mix = (42,'Arthur',False)

print('list_mix:', list_mix, type(list_mix))
print('tuple_mix:', tuple_mix, type(tuple_mix))

list_mix: [42, 'Arthur', False] <class 'list'>
tuple_mix: (42, 'Arthur', False) <class 'tuple'>

**Access item in a tuple:**

In [95]:
# Items are accessed the same way as a list
print('list_mix item index 0:', list_mix[0], type(list_mix[0]))
print('tuple_mix item index 0:', tuple_mix[0], type(tuple_mix[0]))

list_mix item index 0: 42 <class 'int'>
tuple_mix item index 0: 42 <class 'int'>

**Modify item in a tuple:**

In [96]:
# First modify item in list
list_mix[1] = 'Marvin' 
print('list_mix:', list_mix, type(list_mix))

list_mix: [42, 'Marvin', False] <class 'list'>

**Important error message: TypeError**
    
Whenever you see an error that says "does not support" as in 
`TypeError: 'tuple' object does not support item assignment`, 
then it means that you have tried to do an action on a type for which that action is not allowed.
In this example modify an item in a tuple.

In [97]:
# However we cannot do the same in 
tuple_mix[1] = 'Marvin'

TypeError: ignored

In [98]:
# Use tuples to get information and store them in variables
name = tuple_mix[1]
print('Variable name:', name, type(name))

# Items copied from a tuple no longer need to be immutable
name = name.upper()
print('Variable name upper:', name, type(name))

Variable name: Arthur <class 'str'>
Variable name upper: ARTHUR <class 'str'>

In [99]:
# If we type cast a tuple to a list it behaves as a list
list_from_tuple = list(tuple_mix)
list_from_tuple[1] = 'Marvin'
print('Variable list_from_tuple:', list_from_tuple, type(list_from_tuple))

Variable list_from_tuple: [42, 'Marvin', False] <class 'list'>

In [100]:
# While items in a tuple are immutable, the tuple can be overwritten
tuple_from_list = tuple(list_from_tuple)
print('Variable tuple_from_list:', tuple_from_list, type(tuple_from_list))

Variable tuple_from_list: (42, 'Marvin', False) <class 'tuple'>

## S5.4 Container types - Sets

| Class name | Full name  | Access                      | Occurrence  | Remarks |
|:---        |:---        | :---                        | :---        | :---
| set        | Set        | Test if item already in set | Rare        | A container that cannot hold duplicates |

Rare but included it for completion. It's a container that cannot have duplicates. 

---

**Demonstrate a set:**

In [ ]:
# Create a set that stores all skills in a team:
team_skills = set()
print('Variable team_skills:', team_skills, type(team_skills))

In [ ]:
# Define skillsets for person A, B and C
personA_skill1 = 'python'
personB_skill1 = 'field-work'
personC_skill1 = 'python'
personC_skill2 = 'Excel'

# Add skillsets for person A, B and C
team_skills.add(personA_skill1)
team_skills.add(personB_skill1)
team_skills.add(personC_skill1)
team_skills.add(personC_skill2)
print('Variable team_skills:', team_skills, type(team_skills))

In [ ]:
# Add a list of person D's skills to the set
personD_skills = ['python','field-work','management','accounting']
team_skills.update(personD_skills)
print('Variable team_skills:', team_skills, type(team_skills))

In [ ]:
# Test if the team has a skillset
print('python' in team_skills)
print('R' in team_skills)

## S5.5 Basic container types summary

* This is how we combine basic data types (atoms)
* Stored in a variable with a name and type (just like data types and any other variable)
* How you access items is the main difference between the two most common containers; `list` and `dict`
* Containers are often nested (a container in a container)
* The types in a container can be mixed

**Important errors**

| Error name     | Likely reason for the error | 
|:---            |:---                         |
| **IndexError** | You are trying to access an item in a list using an index outside the range of indexes for that list | 
| **KeyError**   | You are trying to access an item in a list using a key name that does not exist in the dict | 
| **TypeError**  | Very generic error where you have used an operation (math operation, index assignment etc.) that is a recognixed operation but not allowed for this variable's type |

**Optional Ex. 10a**

In [ ]:
# Generate a tuple with the three letters m, n and p
# in alphabetic order. Call the tuple letters.
# then access the letter m
# and store as a string in the variable M

letters = ### ADD YOUR CODE HERE
M = ### ADD YOUR CODE HERE

# === Do not modify code below ===
assert type(letters) is tuple and M=='m'